fastapi
uvicorn
sqlalchemy
alembic
jinja2
python-multipart
bcrypt
python-jose[cryptography]
razorpay
google-generativeai
edge-tts
python-dotenv
aiofiles
pydantic-settings
requests
passlib[bcrypt]
psycopg2-binary
groq


